/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
   position: absolute;
   margin-top: 650px;
   margin-left: 71.7%;
   width: 25%;
   border: 5px solid blue;
   padding: 5px 5px 5px 5px;
   font-weight: bold;

   
    
}
#two {
   position: absolute;
   margin-top: 5px;
   margin-left: 71.7%;
   width: 25%;
   border: 5px solid green;
   padding: 5px 5px 5px 5px;
   font-weight: bold;
   
    
}
#three {
   position: absolute;
   margin-top: 5px;
   margin-left: 5px;
   width: 25%;
   border: 5px solid orange;
   padding: 5px 5px 5px 5px;
   font-weight: bold;
   
    
}
#four {
   position: absolute;
   margin-top: 650px;
   margin-left: 5px;
   width: 25%;
   border: 5px solid yellow;
   padding: 5px 5px 5px 5px;
   font-weight: bold;
   
    
}
a:link {
   background-color: orange;
   
   
   position: absolute;
   margin-left: 45%;
   margin-top: 5px;
   height: 30px;
   width: 9%;
   font-size: 140%;
   padding: 0px 0px 0px 0px;
   text-align: center;
   text-decoration: none;
   display: inline-block;

}